<div ng-controller="idpubliCtrl"  id="cuerpo">

  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#/publicaciones">Publicaciones</a></li>
    <li class="active">Publicación número {{id}}</li>
  </ol>

<div class="container">
  <ul class="media-list forum">
    <!-- Forum Post -->
    <li class="media well">
      <div class="pull-left user-info" href="#">
        <img class="avatar img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png"
          width="64" alt="Generic placeholder image">
        <strong>Juan Perez</a></strong>
        <br><small>Estudiante</small>
        <br>
      </div>
      <div class="media-body">
        <!-- Post Info Buttons -->
        <div class="forum-post-panel btn-group btn-group-xs">
          <i class="fa fa-clock-o"> 12 - 06 - 2016 </i>
        </div>
        <div class="text-muted pull-right btn-group-xs">
          <button class="btn btn-danger text-muted pull-right" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-times"></i> Eliminar publicación</button>
          <a href="#/editarpubli/{{id}}" class="btn btn-warning text-muted pull-right"> Editar publicación</a>
        </div>
        <h2>{{publicaciones.nombrepublicacion}}</h2></br>
        <h1 ng-show="false">{{n = publicaciones.descripcionpublicacion}}</h1>
        <td><div ng-bind-html="deliberatelyTrustDangerousSnippet(n)"></div></td><br><br>
        <ul class="tags">
            <div ng-repeat="a in tagsdepublicacion | orderBy:'id':true">
            <li><a> {{a.nombretag}} <span></span></a></li>
            </div>
        </ul>
      </div>
    </li>
    <!-- Forum Post END -->
    <!-- Forum Post -->
  </ul>
</div>

<div ng-show="mostrar">
  <h3 id="centrar">Puntuación de la publicación</h3>
  <form id="centrar">
    <p class="clasificacion">
      <input ng-click="valorar()" id="radio1" type="radio" name="estrellas" value="5" ng-model="valoracion"><!--
      --><label for="radio1">★</label><!--
      --><input ng-click="valorar()" id="radio2" type="radio" name="estrellas" value="4" ng-model="valoracion"><!--
      --><label for="radio2">★</label><!--
      --><input  ng-click="valorar()" id="radio3" type="radio" name="estrellas" value="3" ng-model="valoracion"><!--
      --><label for="radio3">★</label><!--
      --><input ng-click="valorar()" id="radio4" type="radio" name="estrellas" value="2" ng-model="valoracion"><!--
      --><label for="radio4">★</label><!--
      --><input ng-click="valorar()" id="radio5" type="radio" name="estrellas" value="1" ng-model="valoracion"><!--
      --><label for="radio5">★</label>
    </p>
  </form>
</div>

<div  ng-hide="mostrar" id="centrar">
  <h1>Valoración</h1>
  <h1 class="rating-num text-center">
      {{valoracion}}</h1>
        <div class="rating" ng-if="valoracion==1">
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty">
            </span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty">
            </span><span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <div class="rating" ng-if="valoracion==2">
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
          </span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty">
          </span><span class="glyphicon glyphicon-star-empty"></span>
      </div>
  <div class="rating" ng-if="valoracion==3">
      <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
      </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty">
      </span><span class="glyphicon glyphicon-star-empty"></span>
  </div>
  <div class="rating" ng-if="valoracion==4">
      <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
      </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
      </span><span class="glyphicon glyphicon-star-empty"></span>
  </div>
  <div class="rating" ng-if="valoracion==5">
      <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
      </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
      </span><span class="glyphicon glyphicon-star"></span>
  </div>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Comentarios
        </div>
        <div class="panel-body comments">
          <ul class="media-list">
            <li class="media" ng-repeat="a in comentarios | orderBy:'id':false">
              <div class="comment">
                <a href="#" class="pull-left">
                <img src="http://snipplicious.com/images/guest.png" alt="" width="64" class="avatar img-circle img-thumbnail">
                </a>
                <div class="media-body">
                  <strong class="text-success">Juan Perez</strong>
                  <span class="text-muted">
                  <small class="text-muted">| Estudiante |</small>
                  <span class="text-muted">
                  <small class="text-muted">12 - 06 - 2016</small>
                  </span>
                  <h5 ng-show="false">{{numero = a.idComentario}}</h5>
                  <span class="text-muted pull-right">
                  <small class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal2">
                  <i class="fa fa-times"></i> Eliminar</small>
                  </span>
                  <span class="text-muted pull-right">
                  <a class="btn btn-warning btn-xs" href="#/editarcomentario/{{numero}}"></i> Editar</a>
                  </span>
                  <p>
                    <h1 ng-show="false">{{z = a.textocomentario}}</h1>
                    <td><div ng-bind-html="funcion2(z)"></div></td>
                  </p>
                </div>
                <div class="clearfix"></div>
                <!-- Modal -->
                <div  class="modal fade hola" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">Eliminar comentario</h4>
                      </div>
                      <div class="modal-body">
                        ¿Está seguro que desea eliminar permanentemente este comentario?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                        <button  class="btn btn-danger"ng-click="eliminarcomentario(numero)" type="submit" data-dismiss="modal">Eliminar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <div class="clearfix"></div>
            <hr>
              <textarea froala ng-model="comentario"></textarea>
              <br>
            <button ng-click="agregarcomentario()" type="submit" class="btn btn-primary pull-right btn-outline btn-rounded">
              Agregar comentario</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- Modal -->
<div  class="modal fade hola" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Eliminar publicación</h4>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar permanentemente esta publicación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
        <button  class="btn btn-danger" ng-click="eliminar()" type="submit" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>



</div>
