<div ng-controller="nuevoTagCtrl as up" id="cuerpo">

  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li class="active">Nueva etiqueta</li>
	</ol>

  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
              <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Las etiquetas actuales son:</div>
                  <!-- List group -->
                  <ul class="list-group">
                      <li class="list-group-item" ng-repeat="a in tags">
                          {{a.nombretag}}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <form role="form" ng-submit="submit()">
    <div class="form-content">
      <div class="form-group">
        <input type="text" class="form-control input-lg"
        placeholder="Ingresar nombre de la etiqueta" ng-model="nombre">
      </div><div class="form-group">
        <textarea name="name" class="form-control input-lg" rows="8" cols="130" ng-model="descripcion" placeholder="Ingresar descripcion de la etiqueta"></textarea>
      </div>
      <div class="form-group text-center">
        <button ng-click="agregar()" type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded">Agregar</button>
      </div>
    </div>
  </form>



</div>
