<div ng-controller="nuevaPublicacionCtrl as up" id="cuerpo">
  <h2 id="centrar">Nueva publicacion</h2>
  <form role="form" ng-submit="submit()">
  <div class="form-content">
    <div class="form-group">
      <input type="text" class="form-control input-lg" id="borde"
      placeholder="Ingresar título de la publicación" ng-model="nombrepublicacion">
    </div>
    <div class="form-group">
      <trix-editor  id="altura_descripcion" ng-model="descripcionpublicacion" angular-trix trix-initialize="trixInitialize(e, editor);"
      trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);"
      trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);"
       trix-attachment-add="trixAttachmentAdd(e, editor);" trix-attachment-remove="trixAttachmentRemove(e, editor);"
       placeholder="Descripción de la publicación"></trix-editor>
    </div>

    <div class="form-group text-center">
      <button ng-click="agregar()" type="submit" class="btn btn-primary btn-lg btn-outline btn-rounded">Agregar</button>
    </div>
  </form>
</div>
